{
  "presets": ["es2015"],
  "sourceMaps": "both",
  "plugins": [
    "babel-plugin-transform-html-import-to-string"
  ],
  "env": {
    "development": {
      "plugins": [
        "istanbul"
      ]
    },
  }
}
